Source: mkos-bonewhite
Section: devel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Vcs-Git: https://github.com/bgat/mkos-bonewhite.git
Vcs-Browser: https://github.com/bgat/mkos-bonewhite.git

Package: mkos-bonewhite
Architecture: all
Depends: mkos-mlo-common, ${misc:Depends}
Description: Composes filesystem images for Beaglebone White
 This package is part of Pragmatux http://pragmatux.org
